{% extends 'sub_layout.html' %}
{% load static %}
{% block 'main_content' %}

        <div class="row px-0">
            <div class="col-md-12 px-0">
                <div id="intro" class="view">
                    <div class="container">
                        <p>Career</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row px-0" >
            <div class="col-md-6 mt-5 mb-5">
                <div class="container">
                    <img src="{% static 'images/photo3.jpg' %}" class="container img-fluid d-block round mt-5 mb-5" alt="">
                </div>  
            </div>
            <div class="col-md-6 mt-5">
                <div class="container">
                    <h1 class="container mt-5" style="font-size: 35px; color: rgb(0, 0, 0); font-family: 'Quicksand', sans-serif;">Working at JobPortal</h1>
                    <p class="container mt-4" style="font-size: 20px; color: rgb(0, 0, 0); font-family: 'Quicksand', sans-serif;">Take a job opportunity of a lifetime – join the team of JobPortal. We cherish active people specialising in accounting, marketing, design, and promotion who are willing to work on projects of any type and complexity. If you are enthusiastic about business innovations and ready to make impactful decisions, feel free to send us your CV. We are interested in hiring professionals for a long term.</p>
                    <div class="button text-center mt-4 mb-5">
                        <a href=""><button class="btn">Learn More</button></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row px-0" style="background: #e3e8ec;">
            <div class="col-md-12 px-0 mt-5">
                <h1 class="container text-center" style="font-size: 55px; color: rgb(0, 0, 0); font-family: 'Quicksand', sans-serif;">Available Vacancies</h1>
            </div>
            <div class="col-md-4 px-0 mt-5">
                <div class="container">
                    <h1 class="container" style="font-size: 33px; color: rgb(0, 0, 0); font-family: 'Quicksand', sans-serif;">Customer Assistant</h1>
                    <div class="underline container mt-2" style="border: 1px solid black; font-family: 'Quicksand', sans-serif;"></div>
                    <a href="" class="btn btn-link btn-lg" style="color: #28a745;"><i class="fas fa-business-time"><span style="color: black; font-family: 'Quicksand', sans-serif;"> Full Time</span></i></a>
                    <a href="" class="btn btn-link btn-lg" style="color: #28a745;"><i class="fas fa-map-marker-alt"><span style="color: black; font-family: 'Quicksand', sans-serif;"> SachTech</span></i></a>
                    <p class="container mt-2" style="font-size: 20px; color: rgb(0, 0, 0); font-family: 'Quicksand', sans-serif;">Tabes velums, tanquam camerarius tata. A falsis, urbs superbus xiphias. Nunquam examinare abnoba. Humani generiss observare, tanquam tus.</p>
                </div>
            </div>   
            <div class="col-md-4 px-0 mt-5">
                <div class="container">
                    <h1 class="container" style="font-size: 33px; color: rgb(0, 0, 0); font-family: 'Quicksand', sans-serif;">Web Designer</h1>
                    <div class="underline container mt-2" style="border: 1px solid black; font-family: 'Quicksand', sans-serif;"></div>
                    <a href="" class="btn btn-link btn-lg" style="color: #28a745;"><i class="fas fa-business-time"><span style="color: black; font-family: 'Quicksand', sans-serif;"> Full Time</span></i></a>
                    <a href="" class="btn btn-link btn-lg" style="color: #28a745;"><i class="fas fa-map-marker-alt"><span style="color: black; font-family: 'Quicksand', sans-serif;"> SachTech</span></i></a>
                    <p class="container mt-2" style="font-size: 20px; color: rgb(0, 0, 0); font-family: 'Quicksand', sans-serif;">Superbus uria recte attrahendams bursa est. Sunt cottaes quaestio camerarius, dexter assimilatioes. Lotus, noster classiss recte locus de pius, flavum bubo. Diatrias sunt particulas de flavum ignigena.</p>
                </div>
            </div>  
            <div class="col-md-4 px-0 mt-5">
                <div class="container">
                    <h1 class="container" style="font-size: 33px; color: rgb(0, 0, 0); font-family: 'Quicksand', sans-serif;">Technical Support Agent</h1>
                    <div class="underline container mt-2" style="border: 1px solid black; font-family: 'Quicksand', sans-serif;"></div>
                    <a href="" class="btn btn-link btn-lg" style="color: #28a745;"><i class="fas fa-business-time"><span style="color: black; font-family: 'Quicksand', sans-serif;"> Full Time</span></i></a>
                    <a href="" class="btn btn-link btn-lg" style="color: #28a745;"><i class="fas fa-map-marker-alt"><span style="color: black; font-family: 'Quicksand', sans-serif;"> SachTech</span></i></a>
                    <p class="container mt-2" style="font-size: 20px; color: rgb(0, 0, 0); font-family: 'Quicksand', sans-serif;">Era de salvus fluctus, promissio lumen! Magister de castus aonides, magicae adelphis! Cum calcaria credere, omnes lunaes reperire grandis, mirabilis accolaes.</p>
                </div>
            </div>  
            <div class="col-md-4 px-0 mt-5">
                <div class="container">
                    <h1 class="container" style="font-size: 33px; color: rgb(0, 0, 0); font-family: 'Quicksand', sans-serif;">Customer Care Manager</h1>
                    <div class="underline container mt-2" style="border: 1px solid black; font-family: 'Quicksand', sans-serif;"></div>
                    <a href="" class="btn btn-link btn-lg" style="color: #28a745;"><i class="fas fa-business-time"><span style="color: black; font-family: 'Quicksand', sans-serif;"> Full Time</span></i></a>
                    <a href="" class="btn btn-link btn-lg" style="color: #28a745;"><i class="fas fa-map-marker-alt"><span style="color: black; font-family: 'Quicksand', sans-serif;"> SachTech</span></i></a>
                    <p class="container mt-2" style="font-size: 20px; color: rgb(0, 0, 0); font-family: 'Quicksand', sans-serif;">Heu, luna! Sunt racanaes imitari bassus, lotus aususes. Orexiss mori, tanquam velox extum. Raptus, nobilis bullas etiam aperto de placidus, albus ventus.</p>
                </div>
            </div>  
            <div class="col-md-4 px-0 mt-5">
                <div class="container">
                    <h1 class="container" style="font-size: 33px; color: rgb(0, 0, 0); font-family: 'Quicksand', sans-serif;">Accountant</h1>
                    <div class="underline container mt-2" style="border: 1px solid black; font-family: 'Quicksand', sans-serif;"></div>
                    <a href="" class="btn btn-link btn-lg" style="color: #28a745;"><i class="fas fa-business-time"><span style="color: black; font-family: 'Quicksand', sans-serif;"> Full Time</span></i></a>
                    <a href="" class="btn btn-link btn-lg" style="color: #28a745;"><i class="fas fa-map-marker-alt"><span style="color: black; font-family: 'Quicksand', sans-serif;"> SachTech</span></i></a>
                    <p class="container mt-2" style="font-size: 20px; color: rgb(0, 0, 0); font-family: 'Quicksand', sans-serif;">Byssuss potus! Finiss peregrinatione in antenna! Cum zirbus ire, omnes rectores demitto rusticus, orgiaes. Cum fluctus velum, elogiumes imperium castus.</p>
                </div>
            </div>
            <div class="col-md-4 px-0 mt-5 mb-5">
                <div class="container">
                    <h1 class="container" style="font-size: 33px; color: rgb(0, 0, 0); font-family: 'Quicksand', sans-serif;">Junior PR Manager</h1>
                    <div class="underline container mt-2" style="border: 1px solid black; font-family: 'Quicksand', sans-serif;"></div>
                    <a href="" class="btn btn-link btn-lg" style="color: #28a745;"><i class="fas fa-business-time"><span style="color: black; font-family: 'Quicksand', sans-serif;"> Full Time</span></i></a>
                    <a href="" class="btn btn-link btn-lg" style="color: #28a745;"><i class="fas fa-map-marker-alt"><span style="color: black; font-family: 'Quicksand', sans-serif;"> SachTech</span></i></a>
                    <p class="container mt-2 mb-5" style="font-size: 20px; color: rgb(0, 0, 0); font-family: 'Quicksand', sans-serif;">Ecce, secundus devirginato! Cum ignigena nocere, omnes tumultumquees acquirere superbus, clemens victrixes. Compater, domina, et extum.</p>
                </div>
            </div>  
            <div class="col-md-12">
                <div class="button text-center mb-5">
                    <a href=""><button class="btn">Join Us</button></a>
                </div>
            </div>
        </div>

        <div class="row px-0" style="background-color: #407A52">
            <div class="container mt-5 mb-5">
                <span class="col-md-10" style="color: white; font-size: 30px; font-family: 'Quicksand', sans-serif;">Learn the Cost of your Advertising Campaign Right Now!</span>
                <button class="col-md-2 btn btn-lg p-2" style="background: #28a745; font-family: 'Oswald', sans-serif; text-transform: uppercase; font-size: 20px;">View All pricing</button> 
            </div>
        </div>

        {% endblock %}
