{% extends 'sub_layout.html' %}
{% load static %}
{% block 'main_content' %}
<style>
    .services{
        background: url("{% static 'images/photo 7.jpg'  %}");
        background-repeat: no-repeat;
        background-attachment: fixed; 
        background-size: cover;
        margin-bottom: 40px;
    }
</style>
        <div class="row px-0">
            <div class="col-md-12 px-0">
                <div id="intro" class="view">
                    <div class="container">
                        <p>Services</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row px-0">
            <div class="col-md-6 mt-5 mb-5">
                <div class="container">
                    <img src="{% static 'images/photo 6.jpg' %}" class="img-fluid d-block round" alt="">
                </div>
            </div>
            <div class="col-md-6 mt-5 mb-5">
                <div class="container">
                    <h1 style="color: rgb(47, 47, 47); font-size: 40px; font-family: 'Quicksand', sans-serif;">A Few Words About Us</h1>
                    <p class="mt-2" style="color: rgb(47, 47, 47); font-size: 20px; font-family: 'Quicksand', sans-serif">We have a wide range of experience, expertise and tools to create and implement your campaigns, from carefully curating awesome content to optimising it with our great SEO powers as well as outdoor marketing skills<br><br>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Et ipsa a quasi dolorum officiis, similique facilis minima. Architecto, saepe culpa? Iure accusantium voluptates perferendis iusto vero pariatur eum est? Molestiae!</p>
                    <div class="button text-center mt-2 mb-5">
                        <a href=""><button class="btn" >Read more</button></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row px-0">
            <div class="col-md-12 px-0 services">
                <div class="container text-center" style="margin-top: 30px;margin-bottom: 50px;color: white;">
                    <h1 style="color: rgb(255, 255, 255); font-size: 40px; font-family: 'Quicksand', sans-serif;">Services</h1>
                    <p style="color: rgb(255, 255, 255); font-size: 20px; font-family: 'Quicksand', sans-serif"><span>As the most qualified accounting services provider, we offer an amazing variety of financial solutions designed<br>to help you solve all bookkeeping issues, no matter big or small.</span></p>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row px-0">
                <div class="col-md-3 px-0">
                    <img src="{% static 'images/photo 8.jpg' %}" class="container img-fluid mt-5" style="border-radius: 15%;" alt="">
                    <p class="mt-2 text-center" style="font-size: 20px; color: rgb(0, 0, 0); font-family: 'Quicksand', sans-serif; font-weight: 1000;">Cash Management</p>
                </div>
                <div class="col-md-3 px-0">
                    <img src="{% static 'images/photo 9.jpg' %}" class="container img-fluid  mt-5" style="border-radius: 15%;" alt="">
                    <p class="mt-2 text-center" style="font-size: 20px; color: rgb(0, 0, 0); font-family: 'Quicksand', sans-serif; font-weight: 1000;">Payments</p>
                </div>
                <div class="col-md-3 px-0">
                    <img src="{% static 'images/photo 10.jpg' %}" class="container img-fluid mt-5" style="border-radius: 15%;" alt="">
                    <p class="mt-2 text-center" style="font-size: 20px; color: rgb(0, 0, 0); font-family: 'Quicksand', sans-serif; font-weight: 1000;">M&A Assistance</p>
                </div>
                <div class="col-md-3 px-0">
                    <img src="{% static 'images/photo 11.jpg' %}" class="container img-fluid mt-5" style="border-radius: 15%;" alt="">
                    <p class="mt-2 text-center" style="font-size: 20px; color: rgb(0, 0, 0); font-family: 'Quicksand', sans-serif; font-weight: 1000;">Local Expertise</p>
                </div>
                <div class="col-md-3 px-0 mb-5">
                    <img src="{% static 'images/photo 12.jpg' %}" class="container img-fluid mt-5" style="border-radius: 15%;" alt="">
                    <p class="mt-2 text-center" style="font-size: 20px; color: rgb(0, 0, 0); font-family: 'Quicksand', sans-serif; font-weight: 1000;">Vedio and Photo Production</p>
                </div>
                <div class="col-md-3 px-0 mb-5">
                    <img src="{% static 'images/photo 13.jpg' %}" class="container img-fluid mt-5" style="border-radius: 15%;" alt="">
                    <p class="mt-2 text-center" style="font-size: 20px; color: rgb(0, 0, 0); font-family: 'Quicksand', sans-serif; font-weight: 1000;">Graphic design</p>
                </div>
                <div class="col-md-3 px-0 mb-5">
                    <img src="{% static 'images/photo 14.jpg' %}" class="container img-fluid mt-5" style="border-radius: 15%;" alt="">
                    <p class="mt-2 text-center" style="font-size: 20px; color: rgb(0, 0, 0); font-family: 'Quicksand', sans-serif; font-weight: 1000;">strategy</p>
                </div>
                <div class="col-md-3 px-0 mb-5">
                    <img src="{% static 'images/photo 15.jpg' %}" class="container img-fluid mt-5" style="border-radius: 15%;" alt="">
                    <p class="mt-2 text-center" style="font-size: 20px; color: rgb(0, 0, 0); font-family: 'Quicksand', sans-serif; font-weight: 1000;">Branding</p>
                </div>
            </div>
        </div>
        

        <div class="row bg-dark" style="margin-top: 50px;">
            <div class="col-md-6">
              <img src="https://luxurylaunches.com/wp-content/uploads/2019/09/Businessman-fashion.jpeg"
                style="height:100%;width:100%;">
            </div>
            <div class="col-md-6" style="color: white;margin-top: 40px;">
                <span>
                    <h5 style="font-family: 'Quicksand', sans-serif;">Take the First Step to the</h5>
                    <h1 style="font-family: 'Quicksand', sans-serif;"><strong>Success of Your Company</strong></h1>
      
                    <p class="text-muted" style="font-size: 18px;margin-top: 30px;font-family: 'Quicksand', sans-serif;">We can make your company the leader of the
                    market by providing high quality business management solutions. Schedule an appointment to find out more</p>
                    <button class="btn" style="margin-top: 20px; background-color: rgb(13, 172, 132);color: white;">
                        <h5 style="font-family: 'Quicksand', sans-serif;">MAKE AN APPOINTMENT</h5>
                    </button>
                </span>
            </div>
        </div>

        <div class="row bg-light p-5 ">
            <div class="col-md-2">
            </div>

            <div class="col-md-8 " style="border-radius: 100px;">
                <div class="owl-carousel owl-theme">
                    <div class="item">
                        <!--EXPERIMENT START BOX-->
                        <div class="bg-light p-3"
                            style="height: 50vh; width: 100%;border-radius: 15px; position: relative;box-shadow: 0px 0px 5px gray;">
                            <p class="p-2">Vinay Kumar <span><i style="float: right;color: skyblue;" class="far fa-comment-dots mr-3"></i></span></p>
                            <p><small class="text-muted">Graduate Student</small></p>
                            <p class="text-muted p-1" style="border-top: 1px solid white;">" This course is really-2 great course.And have helped me professionally to grow and become a industry oriented person.All teaching faculty is really really great and amazing one of the best in </p>
                        </div>
                        <img style="position: absolute; top: 0; border-radius: 50%; width: 5%;" src="http://math.jacobs-university.de/petrat/photo.jpg" alt="">
                        <!--EXPERIMENT END BOX-->
                    </div>
                    <div class="item">
                        <!--EXPERIMENT START BOX-->
                        <div class="bg-light p-3"
                            style="height: 50vh; width: 100%;border-radius: 15px; position: relative;box-shadow: 0px 0px 5px gray;">
                            <p class="p-2">Sayista <span><i style="float: right;color: skyblue;"
                                class="far fa-comment-dots mr-3"></i></span></p>
                            <p><small class="text-muted">Graduate Student</small></p>
                            <p class="text-muted p-1" style="border-top: 1px solid white;">" This course is really-2 great course.And have helped me professionally to grow and become a industry oriented person.All teaching faculty is really really great and amazing one of the best in </p>
                        </div>
                        <img style="position: absolute; top: 0; border-radius: 50%; width: 5%;"
                        src="http://math.jacobs-university.de/petrat/photo.jpg" alt="">
                        <!--EXPERIMENT END BOX-->
                    </div>
                    <div class="item">
                        <!--EXPERIMENT START BOX-->
                        <div class="bg-light p-3"
                            style="height: 50vh; width: 100%;border-radius: 15px; position: relative;box-shadow: 0px 0px 5px gray;">
                            <p class="p-2">Ajay Kumar <span><i style="float: right;color: skyblue;"
                            class="far fa-comment-dots mr-3"></i></span></p>
                            <p><small class="text-muted">Graduate Student</small></p>
                            <p class="text-muted p-1" style="border-top: 1px solid white;">" This course is really-2 great course.And have helped me professionally to grow and become a industry oriented person.All teaching faculty is really really great and amazing one of the best in </p>
                        </div>
                        <img style="position: absolute; top: 0; border-radius: 50%; width: 5%;"
                        src="http://math.jacobs-university.de/petrat/photo.jpg" alt="">
                        <!--EXPERIMENT END BOX-->
                    </div>
                    <div class="item">
                        <!--EXPERIMENT START BOX-->
                        <div class="bg-light p-3"
                            style="height: 50vh; width: 100%;border-radius: 15px; position: relative;box-shadow: 0px 0px 5px gray;">
                            <p class="p-2">Robin Singh <span><i style="float: right;color: skyblue;"
                            class="far fa-comment-dots mr-3"></i></span></p>
                                <p><small class="text-muted">Graduate Student</small></p>
                            <p class="text-muted p-1" style="border-top: 1px solid white;">" This course is really-2 great course.And have helped me professionally to grow and become a industry oriented person.All teaching faculty is really really great and amazing one of the best in </p>
                        </div>
                        <img style="position: absolute; top: 0; border-radius: 50%; width: 5%;"
                            src="http://math.jacobs-university.de/petrat/photo.jpg" alt="">
                        <!--EXPERIMENT END BOX-->
                    </div>
                    <div class="item">
                        <!--EXPERIMENT START BOX-->
                        <div class="bg-light p-3"
                            style="height: 50vh; width: 100%;border-radius: 15px; position: relative;box-shadow: 0px 0px 5px gray;">
                            <p class="p-2">Shivraj <span><i style="float: right;color: skyblue;"
                                class="far fa-comment-dots mr-3"></i></span></p>
                            <p><small class="text-muted">Graduate Student</small></p>
                            <p class="text-muted p-1" style="border-top: 1px solid white;">" This course is really-2 great course.
                            And have helped me professionally to grow and become a industry oriented
                            person.
                            All teaching faculty is really really great and amazing one of the best in </p>
                        </div>
                        <img style="position: absolute; top: 0; border-radius: 50%; width: 5%;"
                            src="http://math.jacobs-university.de/petrat/photo.jpg" alt="">
                            <!--EXPERIMENT END BOX-->
                    </div>
                    <div class="item">
                        <!--EXPERIMENT START BOX-->
                        <div class="bg-light p-3"
                            style="height: 50vh; width: 100%;border-radius: 15px; position: relative;box-shadow: 0px 0px 5px gray;">
                            <p class="p-2">Praveen Kumar <span><i style="float: right;color: skyblue;"
                            class="far fa-comment-dots mr-3"></i></span></p>
                            <p><small class="text-muted">Graduate Student</small></p>
                            <p class="text-muted p-1" style="border-top: 1px solid white;">" This course is really-2 great course.
                            And have helped me professionally to grow and become a industry oriented
                            person.
                            All teaching faculty is really really great and amazing one of the best in </p>
                        </div>
                        <img style="position: absolute; top: 0; border-radius: 50%; width: 5%;"
                        src="http://math.jacobs-university.de/petrat/photo.jpg" alt="">
                        <!--EXPERIMENT END BOX-->
                    </div>
                <!--NEXT 6 iMGs in CAROUSEL start-->
                    <div class="item">
                        <!--EXPERIMENT START BOX-->
                        <div class="bg-light p-3"
                            style="height: 50vh; width: 100%;border-radius: 15px; position: relative;box-shadow: 0px 0px 5px gray;">
                            <p class="p-2">Sumet Rana <span><i style="float: right;color: skyblue;"
                                class="far fa-comment-dots mr-3"></i></span></p>
                            <p><small class="text-muted">Graduate Student</small></p>
                            <p class="text-muted p-1" style="border-top: 1px solid white;">" This course is really-2 great course.
                            And have helped me professionally to grow and become a industry oriented
                            person.
                            All teaching faculty is really really great and amazing one of the best in </p>
                        </div>
                        <img style="position: absolute; top: 0; border-radius: 50%; width: 5%;"
                            src="http://math.jacobs-university.de/petrat/photo.jpg" alt="">
                        <!--EXPERIMENT END BOX-->
                    </div>
                    <div class="item">
                        <!--EXPERIMENT START BOX-->
                        <div class="bg-light p-3"
                            style="height: 50vh; width: 100%;border-radius: 15px; position: relative;box-shadow: 0px 0px 5px gray;">
                            <p class="p-2">MAnish Thakur<span><i style="float: right;color: skyblue;"
                                class="far fa-comment-dots mr-3"></i></span></p>
                            <p><small class="text-muted">Graduate Student</small></p>
                            <p class="text-muted p-1" style="border-top: 1px solid white;">" This course is really-2 great course.
                            And have helped me professionally to grow and become a industry oriented
                            person.
                            All teaching faculty is really really great and amazing one of the best in </p>
                        </div>
                        <img style="position: absolute; top: 0; border-radius: 50%; width: 5%;"
                        src="http://math.jacobs-university.de/petrat/photo.jpg" alt="">
                        <!--EXPERIMENT END BOX-->
                    </div>
                    <div class="item">
                        <!--EXPERIMENT START BOX-->
                        <div class="bg-light p-3"
                            style="height: 50vh; width: 100%;border-radius: 15px; position: relative;box-shadow: 0px 0px 5px gray;">
                            <p class="p-2">Bond007 <span><i style="float: right;color: skyblue;"
                            class="far fa-comment-dots mr-3"></i></span></p>
                            <p><small class="text-muted">Graduate Student</small></p>
                            <p class="text-muted p-1" style="border-top: 1px solid white;">" This course is really-2 great course.
                            And have helped me professionally to grow and become a industry oriented
                            person.
                            All teaching faculty is really really great and amazing one of the best in </p>
                        </div>
                        <img style="position: absolute; top: 0; border-radius: 50%; width: 20%;"
                        src="https://i.pinimg.com/originals/d1/e6/2b/d1e62b72437ea8b418a0f9e08554acc6.png" alt="">
                        <!--EXPERIMENT END BOX-->
                    </div>
                    <div class="item">
                        <!--EXPERIMENT START BOX-->
                        <div class="bg-light p-3"
                            style="height: 50vh; width: 100%;border-radius: 15px; position: relative;box-shadow: 0px 0px 5px gray;">
                            <p class="p-2">Hrithik Roshan <span><i style="float: right;color: skyblue;"
                            class="far fa-comment-dots mr-3"></i></span></p>
                            <p><small class="text-muted">Graduate Student</small></p>
                            <p class="text-muted p-1" style="border-top: 1px solid white;">" This course is really-2 great course.
                            And have helped me professionally to grow and become a industry oriented
                            person.
                            All teaching faculty is really really great and amazing one of the best in </p>
                        </div>
                        <img style="position: absolute; top: 0; border-radius: 50%; width: 10%;"
                        src="https://static.toiimg.com/photo/msid-71756742/71756742.jpg?134917" alt="">
                        <!--EXPERIMENT END BOX-->
                    </div>
                    <div class="item">
                        <!--EXPERIMENT START BOX-->
                        <div class="bg-light p-3"
                            style="height: 50vh; width: 100%;border-radius: 15px; position: relative;box-shadow: 0px 0px 5px gray;">
                            <p class="p-2">Salman Khan<span><i style="float: right;color: skyblue;"
                            class="far fa-comment-dots mr-3"></i></span></p>
                            <p><small class="text-muted">Graduate Student</small></p>
                            <p class="text-muted p-1" style="border-top: 1px solid white;">" This course is really-2 great course.
                            And have helped me professionally to grow and become a industry oriented
                            person.
                            All teaching faculty is really really great and amazing one of the best in </p>
                        </div>
                        <img style="position: absolute; top: 0; border-radius: 50%; width: 5%;"
                        src="https://upload.wikimedia.org/wikipedia/commons/8/86/Salman_Khan_at_Renault_Star_Guild_Awards.jpg"
                        alt="">
                        <!--EXPERIMENT END BOX-->
                    </div>
                    <div class="item">
                        <!--EXPERIMENT START BOX-->
                        <div class="bg-light p-3"
                            style="height: 50vh; width: 100%;border-radius: 15px; position: relative;box-shadow: 0px 0px 5px gray;">
                            <p class="p-2">Chris Hemsworth <span><i style="float: right;color: skyblue;"
                                class="far fa-comment-dots mr-3"></i></span></p>
                            <p><small class="text-muted">Graduate Student</small></p>
                            <p class="text-muted p-1" style="border-top: 1px solid white;">" This course is really-2 great course.
                            And have helped me professionally to grow and become a industry oriented
                            person.
                            All teaching faculty is really really great and amazing one of the best in </p>
                        </div>
                        <img style="position: absolute; top: 0; border-radius: 50%; width: 5%;"
                            src="http://www.gstatic.com/tv/thumb/persons/528854/528854_v9_bb.jpg" alt="">
                        <!--EXPERIMENT END BOX-->
                    </div>
                    <!--NEXT 6 iMGs in CAROUSEL start-->
                </div>  
            </div>
            <div class="col-md-2"></div>
        </div>

{% endblock %}

    